<h2>SpaceX Mission Details</h2>

<div *ngIf="mission" style="background-color: rgb(110, 227, 194); padding: 20px;">
  <img [src]="mission.links.mission_patch_small" alt="patch" width="150" />
  <h3>Mission - {{ mission.mission_name }}</h3>

  <p><strong>Name:</strong> {{ mission.mission_name }}</p>
  <p><strong>Launch Year:</strong> {{ mission.launch_year }}</p>

  <h4>Rocket</h4>
  <p><strong>Name:</strong> {{ mission.rocket.rocket_name }}</p>
  <p><strong>Type:</strong> {{ mission.rocket.rocket_type }}</p>

  <h4>Launch Details</h4>
  <p>{{ mission.details }}</p>

  <h4>More Info</h4>
  <a [href]="mission.links.article_link" target="_blank">Article</a> |
  <a [href]="mission.links.wikipedia" target="_blank">Wikipedia</a> |
  <a [href]="mission.links.video_link" target="_blank">Video</a>

  <br /><br />
  <button (click)="goBack()">Back</button>
</div>
